<!DOCTYPE html>
<html>
    <head>
        <title>Add Watermark</title>
    </head>
    <body>
        <!----<img id='img' src='icon.png'>-->
        <h1>Got here</h1>
        <canvas id='canvas'>

        </canvas>
        
        <!---<script src='js/script.js'>-->
        </script>
    </body>
</html>