<!DOCTYPE html>
<html>
    <head>
        <title>Add Watermark</title>
    </head>
    <body>
        <h1>Original Image</h1>
        <img id='img' src='icon.png'>
        
        <h1>Watermarked Image</h1>
        <canvas id='canvas' style='border:1px solid black'>
        
        </canvas>
        
        <script src='js/script.js'>
        </script>
    </body>
</html>